.container imgs {
    max-width: 10px;
    max-height:10px;
}
.container {
    clear: both;
    margin-top: 20px;
}
img {
    vertical-align: top
}
ody {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.receita {
    border: 1px solid #f00000;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.receita h3 {
    margin-top: 0;
}

.ingredientes, .instrucoes {
    margin-top: 10px;
}

.ingredientes li, .instrucoes li {
    margin-bottom: 5px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #e49c0e;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    line-height: 1.6;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: px;
}

.produto {
    width: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.produto img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.produto h3 {
    margin-top: px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

